*.DS_Store
.AppleDouble
.LSOverride
*/~$*
.stversions
.stfolder
.stignore
*.dropbox*
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
core
raw_figures/
*html
*pdf
*docx
*sync-conflict*
 *.syncthing.*
.osync_workdir
